@import 'sass-bootstrap/lib/bootstrap';

#reload a {
  float: right;
  text-decoration: none;

  &:link, &:visited, &:active {
    color: white;
  }

  &:hover {
    color: darkBlue;
  }
}

#main .container {
  width: 100%;
}

#todo-name {
  display: inline-block;
  width: 282px;
}

#clear-todo {
  width: 100%;
}

.footer {
  display: inline-block;
  width: 410px;
  margin: 20px auto 20px auto;

  .row {
    margin-left: -45px;

    .col-md-6 {
      display: inline-block;
      width: 250px;
    }

    .col-md-3 {
      display: inline-block;
    }
  }
}

.jumbotron {
  width: 360px;
  margin: 30px auto 0 auto;
  padding: 20px;
}

.item {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}
