<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 text-center"></div>
    <div class="col-md-3 text-center">
      <a href="#">Inbox <span class="badge count">42</span></a>
    </div>
    <div class="col-md-3 text-center">
      <a href="#">Total <span class="badge total">42</span></a>
    </div>
  </div>
</div>
