<ul class="nav nav-tabs">
  <li class="active"><a href="#welcome" data-toggle="tab">Welcome</a></li>
  <li><a href="#welcome/devoxx14" data-toggle="tab" data-target="#welcome-devoxx14">Welcome devoxx 14</a></li>
  <li><a href="#todos" data-toggle="tab">Todos</a></li>
</ul>
