<div class="jumbotron">
  <form role="form">
    <div class="form-group">
      <label class="sr-only" for="filter">Todo filter</label>
      <input type="text" id="filter-todo" name="filter-todo" class="form-control input-lg" placeholder="filter todo" />
    </div>
  </form>

  <div class="todo-container list-group"></div>

  <form class="form-inline" role="form">
      <label class="sr-only" for="todo-name">new todo name</label>
      <input type="text" id="todo-name" class="form-control" name="todo-name">
      <button type="submit" id="add-todo" name="add-todo" class="btn btn-primary">Add</button>
  </form>

  <button type="submit" id="clear-todo" name="clear-todo" class="btn btn-danger">Clear completed</button>
</div>
